.recipe-container {
    margin: 0 auto;
    width: 100%;
}
.recipes-heading {
    text-align: center;
}
.recipes-heading h2 {
    font-size: 3rem;
    padding: 1rem 0.5rem;
    color: #ffffff;
    background: #ffffff;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}
.recipe {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}
.recipe-img {
    width: 100%;
}
.recipe-name {
    color: #ffffff;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}
.recipe-name-container {
    background-image: url(../../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.recipe-link:hover {
    text-decoration: none;
}

/* Extended Recipe */
.extended-recipe-container {
    width: 100%;
}
.extended-recipe {
    -webkit-box-shadow: 11px 28px 58px 9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 11px 28px 58px 9px rgba(0, 0, 0, 0.48);
    box-shadow: 11px 28px 58px 9px rgba(0, 0, 0, 0.48);
    background: #f7c1c1;
    width: 95%;
    margin: 1rem auto;
    padding: 0.5rem;
}
.extended-recipe-heading {
    color: #ffffff;
    text-shadow: 4px 3px 0px #7a7a7a;
    text-align: left;
}
.image-container {
    width: 100%;
}
.extended-recipe-img {
    width: 50%;
}
.titles {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    margin-block-end: 0.2rem;
}
.text {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}
