body {
    min-width: 320px;
}
.dark-orange {
    color: #fca336;
}

.honey-color {
    color: #fcb836;
}
/* Heading */
.heading-1 {
    color: #fcb836;
}
.heading-2 {
    color: #fcb836;
}

.text-block {
    font-size: 10px;
}
.text-block > footer {
    font-size: 2em;
}
.text-block footer ul {
    font-size: 2em;
}
.text-block footer ul li {
    font-size: 2em;
}
.footer-logo-container {
    width: 100%;
}

/* BEES */
.bees {
    padding: 1rem;
    width: 95%;
    margin: 0 auto;
}
